<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Edit Menu Item | Coffee Shop SCE</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    {{> partials/favicons.hbs}}
    <!-- Custom styles for this template -->
    <link href="/signin.css" rel="stylesheet">
    <link href="/table.css" rel="stylesheet">
</head>

<body class="text-center">

<main class="form-signin w-100 m-auto">
    <form method="post" action="/admin/table/edit/{{table.id}}">
        <img class="mb-4" src="/favicon/apple-icon.png" alt="" width="150" height="150">
        <h1 class="h3 mb-3 fw-normal">Edit Table {{ table.id }}</h1>

        <div class="form-floating">
            <input name="seats" autocomplete="off" type="number" class="form-control" id="add-table-seats" placeholder="1" value="{{ table.seats }}" required />
            <label for="add-item-title">Number of seats</label>
        </div>
        <div class="form-floating">
            <input name="rate" autocomplete="off" type="text" class="form-control" id="add-table-rate" placeholder="50" value="{{ table.rate }}" required />
            <label for="add-table-rate">Hourly rate</label>
        </div>
        <select name="table-location" class="form-select" aria-label="Default select example">
            <option selected> {{ currentLocation }}</option>
            {{#locations}}
                <option value="{{this}}">{{ this }}</option>
            {{/locations}}
        </select>

            <div class="form-group col-sm-8" style="width: 100%">
                <div id="myMultiselect" class="multiselect">
                    <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
                        <select class="form-select" name="unavailable-dates">
                            <option></option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="mySelectOptions">
                        {{#dates}}
                            <label for="{{date}}">
                                <input type="checkbox" id="{{date}}" name="{{date}}" onchange="checkboxStatusChange()" value="{{date}}"
                            {{~#if isUnavailable}}
                                checked
                            {{~/if~}}
                                /> {{date}}
                            </label>
                        {{/dates}}
                    </div>
                </div>
            </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Confirm Changes</button>
    </form>
    <form method="post" action="/admin/table/remove/{{table.id}}">
        <button class="w-100 btn btn-lg btn-danger" type="submit">Remove Table</button>
        <a href="/profile" class="w-100 btn btn-lg btn-light" id="signup-form-cancel">Back</a>
    </form>
</main>
<script src="/script.js"></script>
<script src="/table.js"></script>
</body>

</html>